
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 77px;
    position: fixed;
    background: #22326e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    top: 0px;
}
ul{
    list-style: none;
}
ul li a{
    display: flex;
    color: #556090;
    list-style: none;
    align-items: center;
    text-decoration: none;
}
.sportLogo{
    width: 180px;    
}
.google {
    color: 556090;
    width: 50px;
}

.game{

    display: flex;
    justify-content: space-between;
}
.game ul {
    padding: 0;margin: 0;
    display: flex;
    gap: 1rem;
}

 li a:hover{
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.translate a:hover{
    border-radius: 10px;
    color: white;
    padding: 10px;
        background: #888;
}
.account a:hover{
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 30px;
    background: #888;
}
.search a:hover {
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-size: 30px;
    background: #888;
}
.translate,.account{
    font-size: 25px;
}
.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
