footer{
    display: flex;
    justify-content: center;
    height: 30vh;
    color: white;
    align-items: center;
    background:#282928;
    flex-direction: column;
}
 ul {
    display: flex;
}
ul li {
    padding: 10px;
}
.icon{
    font-size: 25px;
}