@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,100;1,300&family=Source+Sans+Pro&display=swap");

.image {
  /* object-fit: contain; */
  height: 85vh;
  position: relative;
}
.details {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  position: absolute;
  bottom: 0px;
  left: 400px;
  margin-bottom: 25px;
}
.show-icon {
  display: flex;
}
.updated span {
  color: blue;
  margin-right: 8px;
}
.bottom {
  font-size: 20px;
}
.bottom-icon {
  margin-left: 3px;
  color: white;
}
.description {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  width: 60%;
  padding: 20px;
  font-size: 10px;
  display: flex;
  margin: 0 auto;
}
.description ul {
  padding-right: 10px;
  column-gap: 10px;
  display: flex;
  flex-direction: column;
}
.desDetails {
  color: #232828;
}
.read {
  padding-top: 10px;
  padding-left: 30px;
}
.read h4 {
  font-size: 13px;
}
.icon {
  color: #e2e2e3;
}
